PORT=8080
NODE_ENV=development

AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_DEPLOYMENT=

AZURE_AI_SEARCH_ENDPOINT=
AZURE_AI_SEARCH_API_KEY=
AZURE_AI_SEARCH_INDEX=

JWT_SECRET=

REDIS_HOST=localhost
REDIS_PORT=6379
