PORT=8080
NODE_ENV=development

GROQ_API_KEY=
GROQ_MODEL=llama-3.3-70b-versatile
GROQ_TEMPERATURE=0.1
GROQ_MAX_TOKENS=1200

TAVILY_API_KEY=
TAVILY_SEARCH_DEPTH=advanced

SERPER_API_KEY=

JWT_SECRET=swarmx_super_secret_key

REDIS_HOST=localhost
REDIS_PORT=6379
